In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv("C:\\Users\\LENOVO\\Downloads\\Data  (2).csv")
data

,NAME,ROLL,SECTION,LOGIC,CONCENTRATION,FOCUS,COGNITIVE SKILL,RETENTION POWER,HARD WORKING,STUDY HABIT,CONSCIOUSNESS,SILLY MISTAKES,KNOWLEDGE GAP,IMPULSIVE,LEARNING GAP
0,Srishti Shahi,28,A,1.611111,2.666667,1.611111,1.000000,1.500000,2.333333,1.611111,1.214286,8.571429,8.000000,8.750000,6.400000
1,DEBMALYA LAHIRI,8,A,1.833333,1.833333,1.833333,0.000000,0.916667,1.833333,1.833333,1.571429,7.333333,7.333333,8.000000,6.000000
2,Ananya Naskar,4,A,3.388889,4.100000,3.388889,3.750000,3.642857,3.416667,3.388889,3.388889,6.857143,5.555556,5.555556,7.200000
3,Deepsikha Naskar,9,A,1.388889,1.750000,1.388889,0.625000,1.071429,1.250000,1.388889,1.562500,7.428571,8.000000,8.000000,7.500000
4,Aditi Kuilya,2,A,1.222222,1.833333,1.222222,0.000000,0.916667,1.833333,1.222222,0.785714,8.666667,8.222222,9.000000,6.000000
5,Rohan Kundu,17,A,2.777778,2.500000,2.777778,1.750000,2.083333,3.428571,2.666667,2.357143,6.333333,6.444444,7.000000,4.666667
6,Soumyadeep Purkait,27,A,2.500000,3.400000,2.500000,2.000000,2.428571,3.214286,2.500000,2.125000,7.750000,7.111111,7.750000,6.285714
7,Shiven Singh Rajput,23,A,2.388889,2.500000,2.388889,1.250000,2.666667,1.500000,2.388889,3.000000,6.500000,6.888889,6.375000,8.000000
8,Harshavardhan Chakraborty,10,A,4.277778,3.166667,4.277778,4.333333,5.083333,3.583333,4.277778,4.083333,5.500000,4.555556,4.000000,7.400000
9,Simran Ghosh,25,A,3.166667,2.437500,3.166667,2.000000,2.437500,3.166667,3.166667,3.166667,6.444444,6.444444,6.444444,6.444444
10,Sunita Biswal,31,A,3.444444,2.700000,3.444444,2.000000,3.714286,2.250000,3.444444,3.444444,6.571429,5.333333,5.333333,7.333333
11,Bishwarup Das,6,A,1.277778,1.000000,1.277778,1.200000,0.857143,1.437500,1.277778,1.642857,7.666667,8.444444,8.250000,8.000000
12,Subham Bairagi,29,A,2.111111,2.000000,2.111111,2.000000,1.428571,1.666667,2.111111,2.111111,7.777778,7.777778,7.777778,8.333333

In [17]:
names=list(data.iloc[:,0].values)
bright_traits=data.iloc[:,3:11].values
avg_bt=[np.sum(i)/len(i) for i in bright_traits]
print("The averages of bright traits are:")
print("\n\n")
for j in range(len(names)):
    print("{} - {}".format(names[j],avg_bt[j]))
dark_traits=data.iloc[:,11:15].values
avg_dt=[np.sum(i)/len(i) for i in dark_traits]
print("\n\n")
print("The averages of dark traits are:")
print("\n\n")
for j in range(len(names)):
    print("{} - {}".format(names[j],avg_dt[j]))
print("\n\n")

print("The overall average of bright and dark traits are:")
avg=[]
for i in range(len(bright_traits)):
    avg.append((avg_bt[i]+avg_dt[i])/2)
print("\n\n")

for j in range(len(names)):
    print("{} - {}".format(names[j],avg[j]))

The averages of bright traits are:



Srishti Shahi - 1.693452380952381
DEBMALYA LAHIRI - 1.4568452380952381
Ananya Naskar - 3.5581349206349207
Deepsikha Naskar - 1.3031994047619047
Aditi Kuilya - 1.1294642857142856
Rohan Kundu - 2.5426587301587302
Soumyadeep Purkait - 2.583482142857143
Shiven Singh Rajput - 2.260416666666667
Harshavardhan Chakraborty - 4.135416666666667
Simran Ghosh - 2.8385416666666665
Sunita Biswal - 3.055257936507936
Bishwarup Das - 1.2463541666666667
Subham Bairagi - 1.9424603174603174



The averages of dark traits are:



Srishti Shahi - 7.930357142857142
DEBMALYA LAHIRI - 7.166666666666666
Ananya Naskar - 6.292063492063492
Deepsikha Naskar - 7.732142857142858
Aditi Kuilya - 7.972222222222221
Rohan Kundu - 6.111111111111112
Soumyadeep Purkait - 7.224206349206349
Shiven Singh Rajput - 6.940972222222222
Harshavardhan Chakraborty - 5.363888888888889
Simran Ghosh - 6.444444444444445
Sunita Biswal - 6.142857142857142
Bishwarup Das - 8.090277777777779
Subham Bairagi - 7.916666666666666



The overall average of bright and dark traits are:



Srishti Shahi - 4.811904761904762
DEBMALYA LAHIRI - 4.3117559523809526
Ananya Naskar - 4.9250992063492065
Deepsikha Naskar - 4.517671130952381
Aditi Kuilya - 4.550843253968253
Rohan Kundu - 4.326884920634921
Soumyadeep Purkait - 4.9038442460317455
Shiven Singh Rajput - 4.600694444444445
Harshavardhan Chakraborty - 4.7496527777777775
Simran Ghosh - 4.641493055555555
Sunita Biswal - 4.599057539682539
Bishwarup Das - 4.6683159722222225
Subham Bairagi - 4.929563492063492

In [18]:
overall_dict={}
for i in range(len(names)):
    overall_dict[names[i]]=avg[i]

{'Srishti Shahi': 4.811904761904762,
 'DEBMALYA LAHIRI': 4.3117559523809526,
 'Ananya Naskar': 4.9250992063492065,
 'Deepsikha Naskar': 4.517671130952381,
 'Aditi Kuilya': 4.550843253968253,
 'Rohan Kundu': 4.326884920634921,
 'Soumyadeep Purkait': 4.9038442460317455,
 'Shiven Singh Rajput': 4.600694444444445,
 'Harshavardhan Chakraborty': 4.7496527777777775,
 'Simran Ghosh': 4.641493055555555,
 'Sunita Biswal': 4.599057539682539,
 'Bishwarup Das': 4.6683159722222225,
 'Subham Bairagi': 4.929563492063492}

In [21]:
#Assigning categories
A=[]
B=[]
C=[]
D=[]
for i in overall_dict:
    if overall_dict[i]>=0 and overall_dict[i]<=1:
        A.append(i)
    elif overall_dict[i]>=2 and overall_dict[i]<=3:
        B.append(i)
    elif overall_dict[i]>=4 and overall_dict[i]<=6:
        C.append(i)
    else:
        D.append(i)
C

['Srishti Shahi',
 'DEBMALYA LAHIRI',
 'Ananya Naskar',
 'Deepsikha Naskar',
 'Aditi Kuilya',
 'Rohan Kundu',
 'Soumyadeep Purkait',
 'Shiven Singh Rajput',
 'Harshavardhan Chakraborty',
 'Simran Ghosh',
 'Sunita Biswal',
 'Bishwarup Das',
 'Subham Bairagi']